* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 160px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

header .nav  ul {

    padding: 1.5rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 99%;
    text-align: center;
}

.logo img {
    max-width: 170px;
    height: auto;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    color: #007bff;

}

.nav ul li a:hover {
    color: #121313;
}

body header .cita button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}


main {
    padding-top: 20% 100% 0 20%;
}








footer {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
   display: flex;
   flex-direction: column;
}

footer .tittle {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

footer .tittle .redesSociales img {
    width: 50px;
    height: auto;
    padding: 10px 0 10px 0;
}

footer .tittle .ofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ofertas input {
    padding: 10px;
    border: solid  white;
    border-radius: 5px;
    background-color: #007bff4d;
    color: #f4f4f4;
    width: 99%;
    margin-bottom: 10px;
}

.ofertas button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}

footer .derechos{
    display: flex;
    justify-content: space-around;
}