* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

header .nav  ul {

    padding: 1.5rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 99%;
    text-align: center;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    color: #007bff;

}

.nav ul li a:hover {
    color: #121313;
}

body header .cita button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}

h1, h2 {
    color: #333;
}

.video {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.video video {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.destino {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rex;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(92, 2, 236, 0.1);
    border-radius: 10px;
}

.destino:hover {
    transform: scale(1.1); 
}

.destino img {
    width: 100%; 
    height: 400px; 
}

img {
    border-radius: 10px;
}

.destino h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #555;
}


@media (max-width: 768px) {
    .destino {
        width: 100%; 
    }
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container select, .container option {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid  #ddd;
    border-radius: 5px;
}

/* .container { */
    /* margin-top: 20px;   */
    /* margin-left: 30px;  */
/* } */


h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 1px 0 1px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.formulario {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
    color: #333;
}

p{
    text-align: center;
}

.formulario label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}
.formulario input, .formulario textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formulario select, .formulario option {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid  #ddd;
    border-radius: 5px;
}
.formulario button {
    background-color: #7515b4;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario button:hover {
    background-color: #4b0c75;
}













footer {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
   display: flex;
   flex-direction: column;
}

footer .tittle {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

footer .tittle .redesSociales img {
    width: 50px;
    height: auto;
    padding: 10px 0 10px 0;
}

footer .tittle .ofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ofertas input {
    padding: 10px;
    border: solid  white;
    border-radius: 5px;
    background-color: #007bff4d;
    color: #f4f4f4;
    width: 99%;
    margin-bottom: 10px;
}

.ofertas button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}

footer .derechos{
    display: flex;
    justify-content: space-around;
}
