* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
header .nav  ul {
    padding: 1.5rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 99%;
    text-align: center;
}
.logo img {
    max-width: 120px;
    height: auto;
}
.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    color: #007bff;
}
.nav ul li a:hover {
    color: #121313;
}
body header .cita button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}
main{
    padding: 20px;    
    margin-top: 50px;
}
.Global_Connection{
    width: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 4, 104, 0.393)), url(https://res.cloudinary.com/dvgefomdc/image/upload/v1733580365/Global-Connection-estudios-en-el-exterior_t6vuic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:initial;
    border-radius: 40px 40px 40px 40px;
    color: white;  
    display: flex;
    align-items: self-start;
    flex-direction: column;
    justify-content: end;
    align-content: space-around;
    height: 420px;
    padding: 7%;
    margin: 2rem;
}
.B_Conoce{
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin: 1rem;
}
.B_Video{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}
.IMG_Recorrido{
    background-color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 7px;
}
.Nosotros {
    background-image: url(https://res.cloudinary.com/dvgefomdc/image/upload/v1733591728/home-fondo_jk9v21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:initial;
    border-radius: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    color: white;
}
.Nosotros .Logo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}
.Nosotros .Logo img {
    width: 80px;
    height: auto;
}
.Nosotros .IMG_Nosotros img {
    width: 100%;
    margin: 30px;
    max-width: 400px;
    border-radius: 10px;
    background-color: #f4f4f4;
}
.Datos{
    background-image:linear-gradient(rgba(50, 100, 251, 0.315), rgb(43, 176, 243)), url(https://res.cloudinary.com/dvgefomdc/image/upload/v1733593561/fondo-foto_u4ta3i.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:initial;
    width: 95%;
    height: auto;
    color: white;
    margin: 2rem;
    padding: 2.5%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    font-size: small;
}
h1{
    font-size: x-large;
    padding: 7px;
    margin: 2px;
}
.int{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Mision{
    background-color:#003153;
    border-radius: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    color: white;
}
.IMG_Mision img {
    border-radius: 40px 40px 40px 40px;
    width: 400px;
    height: auto;
}
.Vision{
    background-color: rgb(43, 176, 243);
    border-radius: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    color: white;
}
.IMG_Vision img {
    border-radius: 40px 40px 40px 40px;
    width: 400px;
    height: auto;
}
.Instituciones{
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.Cont_Instituciones{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:  rgb(43, 176, 243);
    font-size: xx-large;
    color: white;
    border-radius: 40px 40px 40px 40px;
}
.IMG_Instituciones {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}
.IMG_Instituciones img {
    width: 60%;
    height: 60%;
}

.Formulario {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.Formulario .h1{
    color: #007bff;
}
.Formulario input, .Formulario textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.Formulario select, .Formulario option {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid  #ddd;
    border-radius: 5px;
}
.Formulario button {
    background-color: rgb(43, 176, 243);
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Formulario button:hover {
    background-color: #003153;
}
footer {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
   display: flex;
   flex-direction: column;
}
footer .tittle {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
footer .tittle .redesSociales img {
    width: 50px;
    height: auto;
    padding: 10px 0 10px 0;
}
footer .tittle .ofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ofertas input {
    padding: 10px;
    border: solid  white;
    border-radius: 5px;
    background-color: #007bff4d;
    color: #f4f4f4;
    width: 99%;
    margin-bottom: 10px;
}
.ofertas button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}
footer .derechos{
    display: flex;
    justify-content: space-around;
}
